<head>
    <style>
        #bollowcheck{
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 30px;
        }
    </style>
</head>

<div id="bollowcheck">

    <h2>Devices bollowcheck!</h2>
    <div id="device_bollowcheck">
        <table class="layui-hide" id="devicebollowcheck" lay-filter="device-bollowcheck"></table>
    </div>

    <script type="text/html" id="bollowcheckbar">
        {{#  if(d.authorize_result == "等待审核"){ }}
        <a class="layui-btn layui-btn-sm" lay-event="同意">同意</a>
        <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="拒绝">拒绝</a>

        {{#  } else if(d.authorize_result == "同意"){ }}
            {{# if(d.return_time == undefined || d.return_time_time == null || d.return_time == ""){ }}
                    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="remind">催还</a>
            {{# }else{ }}
                    <a class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="remind-dis">催还</a>
            {{# } }}

        {{# }else{ }}
        <a class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="refused">已拒绝</a>
        {{# } }}
    </script>


</div>


<script th:inline="javascript">



    layui.use(['table'], function(){
        var table = layui.table;

        var options = {
            elem: '#devicebollowcheck'
            ,url:'/bollow/check'
            ,method: "get"
            ,limit: 10
            ,limits: [10, 20, 30, 40]
            ,loading: true
            ,cellMinWidth: 80
            ,page: true
            ,cols: [
                [
                    {type:'checkbox', hide: true}
                    ,{field:'id',title: 'ID',sort: true}
                    ,{field:'device_id',  title: '设备id', hide:true}
                    ,{field:'device_name',  title: '设备名称'}
                    ,{field:'user_name', title: '申请人姓名'}
                    ,{field:'create_time', title: '申请时间', sort: true}
                    ,{field:'do_what',  title: '用途'}
                    ,{field:'back_time',  title: '拟还时间', sort: true}
                    ,{field:'backup', title: '备注'}
                    ,{
                        field:'authorize_result',
                        title: '审核结果',
                        align: 'center',
                        templet: function (d) {
                            var style = d.authorize_result

                            if(d.authorize_result == "同意"){
                                style = '<i class="layui-icon layui-icon-ok-circle" style="font-size: 24px; color: #009688;"></i> '
                            }else if(d.authorize_result == "拒绝"){
                                style = '<i class="layui-icon layui-icon-close-fill" style="font-size: 24px; color: #FF5722;"></i> '
                            }
                            return style
                        }
                    }

                    ,{
                    field:'return_time',
                    title: '归还时间',
                    templet: function (d) {
                        if(d.authorize_result == "同意"){
                            if(d.return_time == undefined || d.return_time_time == null || d.return_time == ""){
                                return "未归还"
                            }
                            return d.return_time
                        }else if(d.authorize_result == "拒绝"){
                            return "已拒绝转借,不用归还";
                        }
                        return d.authorize_result
                    }
                }
                    ,{title:"操作", width:150, align:'center', toolbar: '#bollowcheckbar'} //这里的toolbar值是模板元素的选择器
                ]
            ]
            ,page: {
                layout: ['prev', 'page', 'next', 'skip', 'count', 'limit',] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
            }

        }

        var tablens = table.render(options);


        //监听工具条
        table.on('tool(device-bollowcheck)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(tr == null){
                return false
            }

            if(layEvent === '同意' || layEvent === "拒绝"){
                var data = {
                    bollowid: data.id,
                    deviceid: data.device_id,
                    result: layEvent
                }
                console.log(data)
                $.ajax({
                    url: "/bollow/check",
                    type: "post",
                    dataType: "json", //期望后端返回的数据类型
                    data: data,
                    async: true,
                    success: function(res){
                        console.log(res)
                        layer.msg(res.msg)
                        tablens.reload(options)
                    },
                    error: function(xhr, status, error){
                        console.log(xhr)
                        console.log(status)
                        console.log(error)
                    }
                });
            }else if(layEvent === "remind"){
                layer.msg("催还成功!")
            }else if(layEvent === "remind-dis"){
                layer.msg("该设备已经归还!")
            }else if(layEvent === "refused"){
                layer.msg("该设备已被拒绝转借!")
            }

            return false;

        });

    });


</script>