<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Device</title>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.3/css/layui.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/global.css}"/>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">设备管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="">控制台</a>
            </li>
            <!--<li class="layui-nav-item">-->
                <!--<a href="">商品管理</a>-->
            <!--</li>-->
            <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span th:text="${username}"/>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">logout</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="left-nav">
                <!--设备管理-->
                <li class="layui-nav-item  layui-nav-itemed">
                    <a href="javascript:;" data-url="#">
                        <i class="fa fa-cubes" aria-hidden="true" data-icon="fa-cubes"></i>
                        <cite>设备管理</cite>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd title="所有设备">
                            <a href="javascript:;" data-url="/device">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>所有设备</cite>
                            </a>
                        </dd>

                        <dd title="添加设备">
                            <a href="javascript:;" data-url="/adddevice">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>添加设备</cite>
                            </a>
                        </dd>

                    </dl>
                </li>

                <!--设备申请-->
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="#">
                        <i class="fa fa-cubes" aria-hidden="true" data-icon="fa-cubes"></i>
                        <cite>设备申请</cite>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd title="设备申请">
                            <a href="javascript:;" data-url="/bollowdevice">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>设备申请</cite>
                            </a>
                        </dd>

                        <dd title="申请结果">
                            <a href="javascript:;" data-url="/bollowresult">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>申请结果</cite>
                            </a>
                        </dd>


                        <dd title="设备故障">
                            <a href="javascript:;" data-url="/devicefault">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>设备故障</cite>
                            </a>
                        </dd>

                    </dl>
                </li>


                <!--设备审批-->
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="#">
                        <i class="fa fa-cubes" aria-hidden="true" data-icon="fa-cubes"></i>
                        <cite>设备审批</cite>
                        <span class="layui-nav-more"></span>
                    </a>

                    <dl class="layui-nav-child">

                        <dd title="设备申请审批">
                            <a href="javascript:;" data-url="/bollowcheck">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>设备申请审批</cite>
                            </a>
                        </dd>

                        <dd title="设备故障审批">
                            <a href="javascript:;" data-url="/faultcheck">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>设备故障审批</cite>
                            </a>
                        </dd>

                    </dl>

                </li>



                <!--系统管理-->
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="#">
                        <i class="fa fa-cubes" aria-hidden="true" data-icon="fa-cubes"></i>
                        <cite>系统管理</cite>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd title="数据字典">
                            <a href="javascript:;" data-url="/system/dict">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>数据字典</cite>
                            </a>
                        </dd>
                    </dl>
                </li>

                <!--其他示例-->
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="#">
                        <i class="fa fa-cubes" aria-hidden="true" data-icon="fa-cubes"></i>
                        <cite>个人信息</cite>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child">

                        <dd title="爷的信息">
                            <a href="javascript:;" data-url="/self/selfinfo">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>爷的信息</cite>
                            </a>
                        </dd>



                        <dd title="百度">
                            <a href="javascript:;" data-url="https://www.baidu.com">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>百度</cite>
                            </a>
                        </dd>
                        <dd title="bilibili">
                            <a href="javascript:;" data-url="https://www.bilibili.com/">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>bilibili!</cite>
                            </a>
                        </dd>

                    </dl>
                </li>

            </ul>
        </div>
    </div>


    <div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;border-top: solid 4px #1AA094;"
         id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="test" lay-allowclose="true">
            <ul id="navigation" class="layui-tab-title">
                <!--<li class="layui-this">-->
                    <!--<i class="fa fa-dashboard" aria-hidden="true"></i>-->
                    <!--<cite>控制面板</cite>-->
                <!--</li>-->
            </ul>

            <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0px 0px; height: 211px;">
                <!--<div class="layui-tab-item layui-showd">-->
                    <!--<iframe src="/about" style="height: 211px;"></iframe>-->
                <!--</div>-->
            </div>

        </div>
        <span class="layui-breadcrumb" lay-separator="|"></span>
    </div>

</div>

<script type="text/javascript" th:src="@{/static/layui/layui.all.js}"></script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

<script type="text/javascript">
    var gethtml = (data, url) => {

        $.ajax({
            url: url,
            type: "get",
            dataType:"html", //期望后端返回的数据类型
            async: true,
            success: function(res){
                layer.msg(url + " 获取成功!")
                data.content = res
                active.tabAdd(data)
            },
            error: function(xhr, status, error){
                console.log(xhr)
                console.log(status)
                console.log(error)
            }
        });

    }
    //tab操作监听
    var layer = layui.layer
    var element = layui.element;
    var table = layui.table;
    var resize = $(window).on('resize', function () {
        var $content = $('.admin-nav-card .layui-tab-content');
        $content.height($(this).height() - 147);
        $content.find('iframe').each(function () {
            $(this).height($content.height());
        });
    });
    //触发事件
    var active = {
        tabDelete: function(layid){
            //删除指定Tab项
            element.tabDelete('test', layid);
        }
        ,tabChange: function(layid){
            //切换到指定Tab项
            element.tabChange('test', layid);
            // resize.resize()
        },
        tabAdd: function(data){
            //新增一个Tab项
            var layid = new Date().getTime()
            data.id = layid
            element.tabAdd('test', data)
            active.tabChange(layid)
            // resize.resize()
        }
    };

    var addbyurl = (url, title) => {
        var content = ''
        var data = {
            title: '<cite>' + title +'</cite>'+ "<i class=\"layui-icon layui-unselect layui-tab-close\">ဆ</i>" //用于演示
            ,content: content
        }
        //确定外部http还是本域http
        if(url.length >= 4 && url.substr(0, 4) === "http"){
            content = '<iframe src="' + url + '" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>'
            data.content = content
            active.tabAdd(data)
            return
        }
        gethtml(data, url)
    }

    //查看是否重复出现tab
    var isrepeat = (title) => {
        var list = $("#navigation").find("li")
        var layid = ""
        for(var i=0; i< list.size(); i++){
            var text = $(list[i]).text()
            if(text.substring(0, text.length-1) === title){
                layid = $(list[i]).attr("lay-id")
                break
            }
        }

        if(layid){
            active.tabChange(layid)
            return true
        }
        return false
    }

</script>
<script type="text/javascript">
    <!--左侧菜单和上面导航条的相关设置-->
    $("#navigation").on('click', ' li i', function(){
        console.log(this)
        var layid = $(this).parent().attr("lay-id")
        active.tabDelete(layid)
    })

    //Hash地址的定位
    var layid = location.hash.replace(/^#test=/, '');
    element.tabChange('test', layid);

    element.on('tab(test)', function(elem){
        location.hash = 'test='+ $(this).attr('lay-id');
    });

    //侧边导航栏的监听
    element.on('nav(left-nav)', function (data) {
        console.log(data);
        // layer.msg("value: " + $(data).text())
        console.log("span: ")
        console.log($(data).siblings("dl"))
        if($(data).siblings("dl").length > 0){
            //打开子菜单
            layer.msg("parent value: " + $(data).find("cite").text()+ "  url: " + $(data).attr("data-url"))

        }else{
            var title = $(data).find("cite").text()
            var url = $(data).attr("data-url")

            if(!isrepeat(title)){
                addbyurl(url, title)
            }
        }
    });

    $("#navigation li").click(function(){
        $(this).parent().find("li").removeClass("layui-this")
        $(this).attr("class", "layui-this")
        active.tabChange($(this).attr("lay-id"))
    })

    //添加控制面板
    addbyurl("/about", "Device")
</script>
<script type="text/javascript">
    <!--一些点击事件绑定-->

</script>
<script type="text/javascript">

    $(document).ready(function(){
        layer.msg("Hello, admin!")


    })
</script>
</body>
</html>