<head>
    <style>
        #dictcheck{
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 30px;
        }
        #dps-tree{
            margin: 100px;
        }

    </style>
</head>

<div id="dictcheck">

    <div id="dict-check">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">用户管理</li>
                <li>部门管理</li>
                <li>角色-权限管理</li>
            </ul>
            <div class="layui-tab-content">

                <div class="layui-tab-item layui-show">
                    <div id="content">
                        <button type="button" class="layui-btn layui-btn-sm" id="add-user"><i class="layui-icon"></i>添加用户</button>
                        <table class="layui-hide" id="dict-user" lay-filter="dict-user"></table>
                    </div>
                </div>

                <div class="layui-tab-item">

                    <div id="dps-tree"></div>
                </div>

                <div class="layui-tab-item">
                    <h2>角色与权限页面</h2>
                </div>


            </div>
        </div>
    </div>


</div>


<script>


    layui.use(['table', 'tree', 'form'], function(){
        var table = layui.table;
        var tree = layui.tree;
        var form = layui.form;

        //用户管理
        var options1 = {
            elem: '#dict-user'
            ,url:'/system/users'
            ,method: "get"
            ,limit: 6
            ,limits: [6, 10, 20, 30, 40]
            ,loading: true
            ,cellMinWidth: 80
            ,page: true
            ,cols: [
                [
                    {type:'checkbox', hide: true}
                    ,{field:'id',title: 'ID',sort: true}
                    ,{field:'username',title: '用户名',sort: true}
                    ,{field:'password',title: '密码',sort: true, templet:(d)=>{ return d.password}}
                    ,{field:'role_name',  title: '用户角色'}
                    ,{field:'dp_name', title: '所属部门'}
                    ,{field:'create_time',  title: '创建时间'}
                    ,{field:'backup',  title: '备注'}
                    ,{
                        title:"操作", width:250, align:'center',
                        templet: (d)=>{
                            if(d.status == "true"){
                                return '<input type="checkbox" name="'+ d.id +'" checked="" lay-skin="switch" lay-filter="switch-status" title="开关" lay-text="ON|OFF">'
                            }
                            return '<input type="checkbox" name="'+ d.id +'" lay-skin="switch" lay-filter="switch-status" title="开关" lay-text="ON|OFF">'
                        }
                    }
                ]
            ]
            ,page: {
                layout: ['prev', 'page', 'next', 'skip', 'count', 'limit',] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
            }

        }
        var tablens1 = table.render(options1);

        //监听user-status开关
        form.on('switch(switch-status)', function(data){
            var status = this.checked ? 'true' : 'false'
            var id = $(this).attr("name")
            var msg = {
                id: id,
                status: status
            }

            $.ajax({
                url: "/system/user/status",
                type: "post",
                dataType: "json", //期望后端返回的数据类型
                data: msg,
                async: true,
                success: function(res){
                    layer.msg(res.msg)

                    tablens1.reload(options1)
                },
                error: function(xhr, status, error){
                    console.log(xhr)
                    console.log(status)
                    console.log(error)
                }
            });

            return false
        });

        //添加用户
        $("#add-user").click(function () {
            $.ajax({
                url: "/self/user",
                type: "get",
                dataType: "html", //期望后端返回的数据类型
                async: true,
                success: function(res){
                    layer.open({
                        type: 1,
                        title: '添加用户',
                        shadeClose: true,
                        shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        area: '700px',
                        anim:1,
                        content: res,
                        end: function () {
                            //编辑弹窗被关闭, 重新渲染table
                            console.log("重新渲染user table")
                            tablens1.reload(options1)
                            return

                        }
                    });
                },
                error: function(xhr, status, error){
                    console.log(xhr)
                    console.log(status)
                    console.log(error)
                }
            });
        })




        //部门管理
        //渲染
        var inst1 = tree.render({
            elem: '#dps-tree'  //绑定元素
            ,data: [{
                title: '江西' //一级菜单
                ,children: [{
                    title: '南昌' //二级菜单
                    ,children: [{
                        title: '高新区' //三级菜单
                        //…… //以此类推，可无限层级
                    }]
                }]
            },{
                title: '陕西' //一级菜单
                ,children: [{
                    title: '西安' //二级菜单
                }]
            }]
        });



    });


</script>